body {
    background-image: url(../img/mound.png);
    background-size: cover;
    background-attachment: fixed;
}
.character {
    float: right;
    position: relative;
    top: 15px;
}
.clearfix {
    overflow: auto;
}
.inplay {
  vertical-align: top;
  padding: 20px 20px;
}
.packinplay{
    margin: auto;
    width: 100%;
   
    
    text-align: center;
}
#patty, #schroeder, #lucy, #franklin {
    padding: 0 18px;
    margin: auto;
}

.drawdeck, .drawpile {
    position: relative;
    top: 12px;
    padding: 0 10px;
}

.peanuts {
    padding: 2px;
    margin: 0 20px 30px 18px;
    position: absolute;
    left: 02px;
    bottom: 20px;
    background-color: #319731;
}
.woodstock {
    padding: 15px;
    margin: auto;
    position: absolute;
    right: 185px;
    bottom: 40px;
}
button {
    margin: auto;
    padding: 1px;
    font-weight: bold;
    font-size: 1em;
    width: 90px;
    background-color: #ffde18;
    border-color: black;
    border-width: medium;
    position: absolute;
    right: 50px;
    bottom: 60px;
}